language: objective-c
osx_image: xcode10.1

before_install:
  - gem install cocoapods -v '1.6.1'

install: 
  - pushd browser-sign-in
  - pod install --repo-update
  - popd
  - pushd custom-sign-in
  - pod install --repo-update
  - popd
  - pushd browser-sign-in-and-biometric-storage
  - pod install --repo-update
  - popd

script:
  - set -o pipefail && xcodebuild -workspace browser-sign-in/OktaBrowserSignIn.xcworkspace -scheme OktaBrowserSignIn -destination platform\=iOS\ Simulator,OS\=latest,name\=iPhone\ 8 test | xcpretty
  - set -o pipefail && xcodebuild -workspace custom-sign-in/OktaNativeLogin.xcworkspace -scheme OktaNativeLogin -destination platform\=iOS\ Simulator,OS\=10.3.1,name\=iPhone\ 5s test | xcpretty

  - set -o pipefail && xcodebuild -workspace custom-sign-in/OktaNativeLogin.xcworkspace -scheme OktaNativeLogin -destination platform\=iOS\ Simulator,OS\=latest,name\=iPhone\ 8 test | xcpretty
  - set -o pipefail && xcodebuild -workspace custom-sign-in/OktaNativeLogin.xcworkspace -scheme OktaNativeLogin -destination platform=iOS\ Simulator,OS\=10.3.1,name=iPhone\ 5s test | xcpretty
  
  - set -o pipefail && xcodebuild -workspace browser-sign-in-and-biometric-storage/OktaSignInAndStorage.xcworkspace -scheme OktaBrowserSignIn -destination platform\=iOS\ Simulator,OS\=latest,name\=iPhone\ 8 build | xcpretty
