version: 2.1

orbs:
  platform-helpers-general: okta/general-platform-helpers@1.9

executors:
  apple-ci-arm-medium:
    macos:
      xcode: 14.3.1
    resource_class: macos.m1.medium.gen1

jobs:
  setup:
    executor: apple-ci-arm-medium
    steps:
      - checkout
      - run: gem install cocoapods
      - run: (cd totp-app; pod install)
      - run: (cd browser-sign-in; xcodebuild -resolvePackageDependencies)
      - persist_to_workspace:
          root: ~/project
          paths:
            - .

  snyk-scan:
    executor: apple-ci-arm-medium
    steps:
      - attach_workspace:
          at: ~/project
      - run:
          name: Install rosetta # Needed for snyk to work on M1 machines.
          command: softwareupdate --install-rosetta --agree-to-license
      - platform-helpers-general/step-load-dependencies
      - platform-helpers-general/step-run-snyk-monitor:
          scan-all-projects: true
          skip-unresolved: false
          os: macos

workflows:
  semgrep:
    jobs:
      - platform-helpers-general/job-semgrep-scan:
          name: semgrep-scan
          filters:
            branches:
              only:
                - master
          context:
            - static-analysis
  security-scan:
    jobs:
      - setup:
          filters:
            branches:
              only:
                - master
      - snyk-scan:
          name: execute-snyk
          filters:
            branches:
              only:
                - master
          context:
            - static-analysis
          requires:
            - setup
