version: 2.1

orbs:
  general-platform-helpers: okta/general-platform-helpers@1.9
  macos: circleci/macos@2

executors:
  apple-ci-arm-medium:
    macos:
      xcode: 26.2.0
    resource_class: m4pro.medium

jobs:
  setup:
    executor: apple-ci-arm-medium
    steps:
      - checkout
      - run:
          name: Install CocoaPods
          command: |
            gem install activesupport -v 7.1.3.2
            gem install cocoapods
      - run: (cd totp-app; pod install)
      - run: (cd browser-sign-in; xcodebuild -resolvePackageDependencies)
      - persist_to_workspace:
          root: ~/project
          paths:
            - .
  snyk-scan:
    executor: apple-ci-arm-medium
    steps:
      - attach_workspace:
          at: ~/project
      - macos/install-rosetta
      - general-platform-helpers/step-run-snyk-monitor:
          scan-all-projects: true
          skip-unresolved: false
          os: macos

workflows:
  security-scan:
    jobs:
      - setup:
          filters:
            branches:
              only:
                - master
      - snyk-scan:
          name: execute-snyk
          context:
            - static-analysis
          requires:
            - setup
