<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bootstrap_url</key>
	<string>https://okta-websession-bootstrap.glitch.me/web-session</string>
	<key>scopes</key>
	<string>openid profile offline_access web_session</string>
	<key>redirectUri</key>
	<string>com.okta.bootstrap:/loginCallback</string>
	<key>clientId</key>
	<string>okta_client_id_for_native_app</string>
	<key>issuer</key>
	<string>https://okta_authz_issuer</string>
	<key>logoutRedirectUri</key>
	<string>com.okta.bootstrap:/logoutCallback</string>
</dict>
</plist>
